<div class="container">
  <div class="row">
    <div class="nine columns"><br></div>
    <div class="two columns"><button (click)="newUsr()" class="add-usr-btn">Crear nuevo usuario</button></div>
  </div>
  <div class="row">
  <div class="twelve columns">
    <mat-table class="mat-elevation-z8" #table [dataSource]="users">
      <ng-container matColumnDef="usuario">
        <mat-header-cell *matHeaderCellDef>Usuario</mat-header-cell>
        <mat-cell *matCellDef="let users">{{ users.username }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
        <mat-cell *matCellDef="let users">{{ users.type }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="horas">
        <mat-header-cell *matHeaderCellDef>Horas</mat-header-cell>
        <mat-cell *matCellDef="let users">{{ users.horas }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="asig">
        <mat-header-cell *matHeaderCellDef>Asignar horas</mat-header-cell>
        <mat-cell *matCellDef="let users; let i = index"><input class="hour-input" [(ngModel)]="horas[i]"></mat-cell>
      </ng-container>

      <ng-container matColumnDef="borr">
        <mat-header-cell *matHeaderCellDef>Borrar</mat-header-cell>
        <mat-cell *matCellDef="let users"><button class="del-btn" (click)="delete(users)">Borrar</button></mat-cell>
      </ng-container>

      <ng-container matColumnDef="asigB">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let users; let i = index"><button class="asig-btn" (click)="asignar(users.username,horas[i])">Asiganar Horas</button></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>

    </mat-table>
    <div padding *ngIf="!users.length" class="empty-row">No hay registros</div>
  </div>
  </div>
</div>
