<div style="padding: 30px;">
        <mat-table class="mat-elevation-z8" #table [dataSource]="users">
          <ng-container matColumnDef="usuario">
            <mat-header-cell *matHeaderCellDef>usuario</mat-header-cell>
            <mat-cell *matCellDef="let users">{{ users.username }}</mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="tipo">
            <mat-header-cell *matHeaderCellDef>tipo</mat-header-cell>
            <mat-cell *matCellDef="let users">{{ users.type }}</mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="horas">
            <mat-header-cell *matHeaderCellDef>Horas</mat-header-cell>
            <mat-cell *matCellDef="let users">{{ users.horas }}</mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="asig">
            <mat-header-cell *matHeaderCellDef>Asignar horas</mat-header-cell>
            <mat-cell *matCellDef="let users"><input></mat-cell>
          </ng-container>

          <ng-container matColumnDef="borr">
            <mat-header-cell *matHeaderCellDef>Borrar</mat-header-cell>
            <mat-cell *matCellDef="let users"><button>Borrar</button></mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
          <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>
        </mat-table>
        <div padding *ngIf="!users.length" class="empty-row">No hay registros</div>
      </div>