<div class="container talleres-container">
  <div class="row">
      <h1>Talleres</h1>
      <button (click)="loadMod()" class="talleres-buttons"><img class="sidenav-icons" src="assets/baseline_add_white_18dp.png">agregar clase</button>
      <div class="row">
          <h2>Deportes</h2>
          <button *ngFor="let t of talleresD" (click)="loadMod(t)" class="talleres-buttons"><img class="sidenav-icons" src="assets/baseline_create_white_18dp.png">{{t.title}}</button>
      </div>
      <div class="row">
          <h2>Arte</h2>
          <button *ngFor="let t of talleresA"  (click)="loadMod(t)" class="talleres-buttons"><img class="sidenav-icons" src="assets/baseline_create_white_18dp.png">{{t.title}}</button>
      </div>
      <div class="row">
          <h2>Idiomas</h2>
          <button *ngFor="let t of talleresI"  (click)="loadMod(t)" class="talleres-buttons"><img class="sidenav-icons" src="assets/baseline_create_white_18dp.png">{{t.title}}</button>
      </div>
  </div>
</div>
