
<div mat-dialog-content>
    <h3>Nuevo usuario</h3>
    <div class="row">
        <mat-form-field style="width: 100%;">
            <input matInput [(ngModel)]="usuario" maxlength="10" placeholder="Usuario">
            <!--<mat-hint align="end">{{usuario.value?.length || 0}}/10</mat-hint>-->
        </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field  style="width: 100%;">
          <input matInput [(ngModel)]="clave" maxlength="10"  placeholder="Clave">
          <!--<mat-hint align="end">{{usuario.value?.length || 0}}/10</mat-hint>-->
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field style="width: 100%;">
        <mat-select [(ngModel)]="nivel" placeholder="Tipo de usuario">
          <mat-option value="admin">admin</mat-option>
          <mat-option value="voluntario">voluntario</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="row">
        <button (click)="crear()" class="white-text"><img class="sidenav-icons" src="assets/baseline_how_to_reg_white_18dp.png">crear</button>
        &nbsp;
        <button (click)="cerrar()"class="white-text"><img class="sidenav-icons" src="assets/baseline_clear_white_18dp.png">cancelar</button>
      </div>
    </div>
  </div>
