
<div mat-dialog-content>
    <h3>Nuevo usuario</h3>
    <div class="row">
        <mat-form-field style="width: 100%;">
            <input matInput [(ngModel)]="usuario" maxlength="10" placeholder="Usuario">
            <!--<mat-hint align="end">{{usuario.value?.length || 0}}/10</mat-hint>-->
        </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field  style="width: 100%;">
          <input matInput [(ngModel)]="clave" maxlength="10"  placeholder="Clave">
          <!--<mat-hint align="end">{{usuario.value?.length || 0}}/10</mat-hint>-->
      </mat-form-field>
    </div>  

    <div class="row">
      <mat-form-field style="width: 100%;">
        <mat-select [(ngModel)]="nivel" placeholder="Tipo de usuario">
          <mat-option value="admin">admin</mat-option>
          <mat-option value="voluntario">voluntario</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="row">
        <button (click)="crear()">crear</button>
        &nbsp;
        <button (click)="cerrar()">cancelar</button>
      </div>
    </div>
  </div>