<body>
  <div class="container">
    <div class="row">
      <div class="ten columns login-margin"><span><strong class="white-text"> Proyecto 99 </strong><img src="{{ logoSrc }}"></span></div>
      <div class="two columns login-margin"><button routerLink="/login" routerLinkActive="active" class="white-text">Login</button></div>
    </div>

    <div class="row">
      <div class="twelve columns">
          <img src="{{ coverSrc }}" style="max-height: 100%;max-width: 100%;">
      </div>
    </div>

    <div class="row">
        <mat-tab-group class="white-text">
            <mat-tab label="Principal">
              <app-home></app-home>
            </mat-tab>
            <mat-tab label="Talleres">
              <app-talleres></app-talleres>
            </mat-tab>
            <mat-tab label="Preguntas Frecuentes">
              <app-contacto></app-contacto>
            </mat-tab>
          </mat-tab-group>
      <!--<div class= "three columns" *ngFor="let item of nav_menu_items"><h6>{{item}}</h6></div>-->
    </div>

  </div>


</body>
