
<div mat-dialog-content>
    <h1 mat-dialog-title>Titulo</h1>
    <input value="{{data.title}}" [disabled]="data.title!=''" size="50">
    <h2 mat-dialog-title>Descripcion</h2>
    <textarea class="u-full-width" [(ngModel)]="data.desc"></textarea>
    <h2 mat-dialog-title>Horario</h2>
    <div class="row">
      <div class="six columns">
        <table>
          <tr>
            <th>Dia</th>
            <th>Hora</th>
          </tr>
          <tr *ngFor="let d of days;let i= index">
            <th>{{d}}</th>
            <th><select id="{{d}}" ngModel>
              <option *ngFor="let h of hrs" value="{{h}}">{{h}}</option>
            </select></th>
          </tr>
        </table>
      </div>
      <!--<div *ngFor="let h of data.horario"><p>{{h.dia}}</p> <p>{{h.hora}}</p></div>-->
      <h2 mat-dialog-title>Voluntarios</h2>
      <div class="six columns">
        <div class="row"><input [(ngModel)]="data.voluntarios[0]"></div>
        <div class="row"><input [(ngModel)]="data.voluntarios[1]"></div>
        <div class="row"><input [(ngModel)]="data.voluntarios[2]"></div>
      </div>
    </div>
    <button>Guardar</button> <button (click)="delete()">Borrar</button>
    <form #f="ngForm" (ngSubmit)="onSub(f)" novalidate>
  </form>
  <!--<div *ngFor="let v of data.voluntarios"><p>{{v}}</p> </div>-->
</div>
<!--<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>-->
