
<div mat-dialog-content>
    <h1 mat-dialog-title>Titulo</h1>
    <input value="{{data.title}}" id="title" [disabled]="data.title!=''" size="50">
    <h2 mat-dialog-title>Descripcion</h2>
    <textarea class="u-full-width" [(ngModel)]="data.desc"></textarea>
    <h2 mat-dialog-title>Url de imagen</h2>
    <input [(ngModel)]="data.img" size="50">
    <h2 mat-dialog-title>Tipo de taller</h2>
    <select [(ngModel)]="data.type">
      <option value="deportivo">deportivo</option>
      <option value="arte">arte</option>
      <option value="idioma">idioma</option>
    </select>
    <h2 mat-dialog-title>Horario</h2>
    <div class="row">
      <div class="six columns">
        <table>
          <tr>
            <th>Dia</th>
            <th>Hora</th>
          </tr>
          <tr *ngFor="let d of days;let i= index">
            <th>{{d}}</th>
            <th><select id="{{d}}" (click)="log()">
              <option *ngFor="let h of hrs" value="{{h}}">{{h}}</option>
            </select></th>
          </tr>
        </table>
      </div>
      <!--<div *ngFor="let h of data.horario"><p>{{h.dia}}</p> <p>{{h.hora}}</p></div>-->
      <h2 mat-dialog-title>Voluntarios</h2>
      <div class="six columns">
        <div class="row"><input [(ngModel)]="data.voluntarios.uno"></div>
        <div class="row"><input [(ngModel)]="data.voluntarios.dos"></div>
        <div class="row"><input [(ngModel)]="data.voluntarios.tres"></div>
      </div>
    </div>
    <button (click)="create()" class="white-text"><img class="sidenav-icons" src="assets/baseline_save_white_18dp.png">Guardar</button> <button (click)="delete()" class="white-text"><img class="sidenav-icons" src="assets/baseline_delete_forever_white_18dp.png">Borrar</button>
    <form #f="ngForm" novalidate>
  </form>
  <!--<div *ngFor="let v of data.voluntarios"><p>{{v}}</p> </div>-->
</div>
<!--<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>-->
