<div class="container">
  <div class="row">
    <div class="six columns">
      <div class="row">
        <h1>Noticia 1</h1>
      </div>
      <div class="row">
        <h5>Titulo</h5>
      </div>
      <div class="row">
        <input size="35">
      </div>
      <div class="row">
        <h5>Descripcion de Noticia</h5>
      </div>
      <div class="row">
        <textarea class="u-full-width"></textarea>
      </div>
      <div class="row">
        <h5>URL de imagen</h5>
      </div>
      <div class="row">
        <input size="50">
      </div>
    </div>
    <div class="six columns">
      <div class="row">
        <h1>Noticia 2</h1>
      </div>
      <div class="row">
        <h5>Titulo</h5>
      </div>
      <div class="row">
        <input size="35">
      </div>
      <div class="row">
        <h5>Descripcion de Noticia</h5>
      </div>
      <div class="row">
        <textarea class="u-full-width"></textarea>
      </div>
      <div class="row">
        <h5>URL de imagen</h5>
      </div>
      <div class="row">
        <input size="50">
      </div>
    </div>
  </div>
</div>
