<div class="row">
        <div class="six columns">
            <div class="row"><h1>Noticia 1</h1></div>
            <div class="row"><h3>Titulo</h3></div>
            <div class="row"><input></div>
            <div class="row"><h3>Descripcion de noticia</h3></div>
            <div class="row">
                <textarea>
    
                </textarea>
            </div>
            <div class="row"><h3>url de imagen</h3></div>
            <div class="row"><input></div>
    
        </div>
        <div class="six columns">
            <div class="row"><h1>Noticia 2</h1></div>
            <div class="row"><h3>Titulo</h3></div>
            <div class="row"><input></div>
            <div class="row"><h3>Descripcion de noticia</h3></div>
            <div class="row">
                <textarea>
        
                </textarea>
            </div>
            <div class="row"><h3>url de imagen</h3></div>
            <div class="row"><input></div>
        
        </div>
    </div>