<div class="four columns"><h5 class="categoria-taller">Deportes</h5>
    <div *ngFor="let taller of talleresD">
        <mat-card class="example-card" (click)="loadMod(taller)">
        <mat-card-header>
            <mat-card-title>{{taller.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{taller.image}}>
        </mat-card>
        <br>
    </div>
</div>

<div class="four columns"><h5 class="categoria-taller">Idiomas</h5>
    <div *ngFor="let taller of talleresI">
        <mat-card class="example-card" (click)="loadMod(taller)">
        <mat-card-header>
            <mat-card-title>{{taller.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{taller.image}}>
        </mat-card>
        <br>
    </div>
</div>

<div class="four columns"><h5 class="categoria-taller">Arte y Cultura</h5>
    <div *ngFor="let taller of talleresA">
        <mat-card class="example-card" (click)="loadMod(taller)">
        <mat-card-header>
            <mat-card-title>{{taller.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{taller.image}}>
        </mat-card>
        <br>
    </div>
</div>
