
<div class="col" align-self-center size-md="6" size-lg="5" size-xs="12" class="login-form">
  <div class="login-contents">
    <h1 id="title" class="white-text">Login Proyecto 99</h1>
    <input name="email"
           type="email"
           placeholder="Usuario"
           [(ngModel)]="username"
           required>
    <br>
    <input name="password"
           type="password"
           placeholder="Contraseña"
           [(ngModel)]="password"
           required>
    <br>
    <button type="submit" (click)="login()" class="white-text">
      Entrar
    </button>
  </div>

</div>
